/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

<doctype! HTML>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.break{

	clear: both;
}

#top ul li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
    font-family: arial, sans-serif;
}

#top ul li img{
    display: inline;
    padding: 10px;
    vertical-align: middle;
}

#top li:hover {
	text-decoration: underline;
	vertical-align: middle;
}


#top {
	
	width:100%;
	text-align: right;
}

#main  {
	text-align: center;
	
}

#main img{
	width: 300px;

}

#searchbar {
	width: 600px;
	height:35px;
	background: url("https://dl.dropboxusercontent.com/u/15152010/thinkful/FEWD/google_clone/images/microphone.png") no-repeat;
	background-size: 30px;
	vertical-align: center;
	background-position: right;
}

#search {
	text-align: center;
	padding-top: 20px;
}

#buttons {
	text-align: center;
	padding-top: 15px;
}

#buttons input[type=button] {
    background-color: #F7F7F7;
    border:3px;
    border-radius: 1px;
    padding:5px;
}

#buttons input[type=button]:hover {
	text-decoration: underline;
	vertical-align: middle;
}

#bottom {
	position: absolute;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background-color: #f7f7f7;
}

#bottomleft {
  float:left;
  padding-left:20px;
}

#bottomright {
   float:right;
   padding-right:20px;
}

#bottomleft ul li {
    display:inline;
    font-family: arial, sans-serif;
    vertical-align: middle;
    float: left;
    padding-left: 10px;
    padding:5px;
    font-size: 80%;
}

#bottomright ul li {
    display:inline;
    font-family: arial, sans-serif;
    vertical-align: middle;
    float: right;
    padding-right: 10px;
    padding:5px;
    font-size: 80%;
}

#bottom li:hover {
	text-decoration: underline;
	vertical-align: middle;
	}

#wrapper {
	width:100%;
	padding-top:100px;
}